<!DOCTYPE html>
<html>
  <head>
    <title>PRICE ADDER</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='price.css') }}">
  </head>
  <body>
    <div class="testbox">
      <form action="{{ url_for('price') }}" method="post">
        <div class="banner">
          <h1>for add price</h1>
        </div>
        <p>product Information</p>
        <div class="item">
          <label for="Product category">Product category<span></span></label>
          <input id="product" type="text" name="product" required/>
        </div>
        <div class="item">
          <label for="Product Name">Product Name<span></span></label>
          <input id="productname" type="text" name="productname" required/>
        </div>
        <div class="item">
          <label for="price">Price<span></span></label>
          <input id="price" type="text" name="price" required/>
        </div>
            
          </div>
        </div>
        <div class="btn-block">
          <button type="submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </body>
</html>