<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet"  href="{{ url_for('static', filename='view.css') }}">
<body>
    <section>
        <!--for demo wrap-->
        <h1>AVAILABLE STORES</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <table>
              <tr>
                <th>storename</th>
                <th>owner</th>
                
                <th>place</th>
                <th>phoneno</th>
                <th>address</th>
                <th>productname</th>
                <th>price</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>{% for row in data1 %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                {% for row in data %} 
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
              </tr>     
              {% endfor %}
                {% endfor %}
                <a href="https:/wa.me/919400456825"  target="_blank" class="whatsapp_float"><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>


      
            </tbody>
          </table>
        </div>
      </section>
      
      <div class = "content-section">
        <h1 style = "font-family: 'Poppins', sans-serif;">
  
          <p>
            Place Your Order:</p>
         </h1></div>
        
      
     
     
    </body>
</html>